/* External styling from: https://codepen.io/manikoth/pen/NNNBYe.css
 */
/* Doodle Stage */
main{
  position:absolute;
}
@-webkit-keyframes fadeIn{
  0%{
    opacity:0; 
  }
   55%{
    opacity:0; 
  }
   70%{
    opacity:.5; 
  }
   90%{
    opacity:0; 
  }
   100%{
    opacity:0; 
  }
}
    #trapezoid {
      border-bottom: 180px solid yellow;
      border-left: 60px solid transparent;
      border-right: 60px solid transparent;
      height: 0px;
      width: 50px;
      position: relative;
      top: -260px;
      left: 510px;
      animation: fadeIn 10s infinite;
    }

input{
  position: relative;
  top: 15px; 
}
#google{
  z-index:-100; 
  position:relative;
  top: 75px;
}
#ufo{
  position: relative;
  width: 200px;
  z-index: 100;
}
#stage {
  height: 400px;
  width: 800px;
  z-index: -100;
}

/*Walk Cycle*/

@-webkit-keyframes rotateBody {
  0% {
    -webkit-transform: rotate(-35deg);
            transform: rotate(-35deg);
  }
  50% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  100% {
    -webkit-transform: rotate(-35deg);
            transform: rotate(-35deg);
  }
}
@keyframes rotateBody {
  0% {
    -webkit-transform: rotate(-35deg);
            transform: rotate(-35deg);
  }
  50% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  100% {
    -webkit-transform: rotate(-35deg);
            transform: rotate(-35deg);
  }
}
@-webkit-keyframes headBop {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-1px) translateX(-2px);
            transform: translateY(-1px) translateX(-2px);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  75% {
    -webkit-transform: translateY(-1px) translateX(-2px);
            transform: translateY(-1px) translateX(-2px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes headBop {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-1px) translateX(-2px);
            transform: translateY(-1px) translateX(-2px);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  75% {
    -webkit-transform: translateY(-1px) translateX(-2px);
            transform: translateY(-1px) translateX(-2px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes bodyBop {
  0% {
    -webkit-transform: translateY(0) rotate(7deg);
            transform: translateY(0) rotate(7deg);
  }
  25% {
    -webkit-transform: translateY(-12px) rotate(0deg);
            transform: translateY(-12px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(0) rotate(7deg);
            transform: translateY(0) rotate(7deg);
  }
  75% {
    -webkit-transform: translateY(-12px) rotate(0deg);
            transform: translateY(-12px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(0) rotate(7deg);
            transform: translateY(0) rotate(7deg);
  }
}
@keyframes bodyBop {
  0% {
    -webkit-transform: translateY(0) rotate(7deg);
            transform: translateY(0) rotate(7deg);
  }
  25% {
    -webkit-transform: translateY(-12px) rotate(0deg);
            transform: translateY(-12px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(0) rotate(7deg);
            transform: translateY(0) rotate(7deg);
  }
  75% {
    -webkit-transform: translateY(-12px) rotate(0deg);
            transform: translateY(-12px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(0) rotate(7deg);
            transform: translateY(0) rotate(7deg);
  }
}
@-webkit-keyframes rotateLeg {
  0% {
    -webkit-transform: rotate(-40deg);
            transform: rotate(-40deg);
  }
  50% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  100% {
    -webkit-transform: rotate(-40deg);
            transform: rotate(-40deg);
  }
}
@keyframes rotateLeg {
  0% {
    -webkit-transform: rotate(-40deg);
            transform: rotate(-40deg);
  }
  50% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  100% {
    -webkit-transform: rotate(-40deg);
            transform: rotate(-40deg);
  }
}
@-webkit-keyframes rotateLowerLeg {
  0% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  25% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  50% {
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
  }
  75% {
    -webkit-transform: rotate(60deg);
            transform: rotate(60deg);
  }
  100% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
}
@keyframes rotateLowerLeg {
  0% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  25% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  50% {
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
  }
  75% {
    -webkit-transform: rotate(60deg);
            transform: rotate(60deg);
  }
  100% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
}
@-webkit-keyframes rotateFoot {
  0% {
    -webkit-transform: rotate(-100deg);
            transform: rotate(-100deg);
  }
  50% {
    -webkit-transform: rotate(-40deg);
            transform: rotate(-40deg);
  }
  75% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-100deg);
            transform: rotate(-100deg);
  }
}
@keyframes rotateFoot {
  0% {
    -webkit-transform: rotate(-100deg);
            transform: rotate(-100deg);
  }
  50% {
    -webkit-transform: rotate(-40deg);
            transform: rotate(-40deg);
  }
  75% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-100deg);
            transform: rotate(-100deg);
  }
}
@-webkit-keyframes rotateArm {
  0% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  50% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  100% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
}
@keyframes rotateArm {
  0% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  50% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  100% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
}
@-webkit-keyframes rotateLowerArm {
  50% {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
  }
}
@keyframes rotateLowerArm {
  50% {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
  }
}
html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.human {
  position: relative;
  -webkit-animation: bodyBop 1s infinite;
  top: -425px;
}
@keyframes abduction
{
   0% {
        left: 0;
        opacity: 1;
        transform: translateY(0);
     
  }
  50% {
      opacity: 1;
      transform: translateY(0);
  }
   800% {
      opacity: 0;
      transform: translateY(-50px);
  }
      100%{
         left: 75%;
      opacity: 0;
      transform: translateY(-20px);
      }
} 
.human {
  animation: abduction 10s infinite;
}

@keyframes ufo{
  0%{
  top: -500px;
  left: 650px;
  }
  50%{
    top:-250px;
    left: 500px;
    transform: rotate (20deg);
  }
  65%{
    top:-250px;
    left: 500px;
    transform: rotate (20deg);
  }
}
#ufo{
  position: relative;
  top: -500px;
  left: 600px;
  animation: ufo 10s infinite;
  animation-delay: 2s;
}

.head {
  width: 30px;
  height: 30px;
  border-radius: 20px;
  background-color: tan;
  -webkit-animation: headBop 1s -0.4s infinite;
          animation: headBop 1s -0.4s infinite;
}

.body {
  width: 30px;
  height: 80px;
  border-radius: 20px;
  background-color: red;
}

.limb {
  width: 10px;
  border-radius: 5px;
  background-color: tan;
}

.arm {
  position: absolute;
  -webkit-animation: rotateArm 1s infinite;
          animation: rotateArm 1s infinite;
  -webkit-transform-origin: 5px 5px;
          transform-origin: 5px 5px;
}
.arm.right {
  top: 45px;
}
.arm.left {
  top: 38px;
  left: 20px;
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
  z-index: -1;
}
.arm.left .lower {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}
.arm .upper {
  height: 30px;
}
.arm .lower {
  position: absolute;
  top: 20px;
  height: 30px;
  -webkit-transform-origin: 5px 5px;
          transform-origin: 5px 5px;
  -webkit-animation: rotateLowerArm 1s infinite;
          animation: rotateLowerArm 1s infinite;
}

.leg {
  position: absolute;
  -webkit-transform-origin: 5px 5px;
          transform-origin: 5px 5px;
  -webkit-animation: rotateLeg 1s infinite;
          animation: rotateLeg 1s infinite;
}
.leg.left {
  top: 96px;
  left: 5px;
  z-index: 1;
}
.leg.right {
  top: 89px;
  left: 16px;
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
  z-index: -1;
}
.leg.right .lower,
.leg.right .foot {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}
.leg .upper {
  height: 35px;
}
.leg .lower {
  position: absolute;
  top: 28px;
  height: 40px;
  -webkit-transform-origin: 5px 5px;
          transform-origin: 5px 5px;
  -webkit-animation: 1s rotateLowerLeg infinite;
          animation: 1s rotateLowerLeg infinite;
}

.foot {
  position: absolute;
  top: 30px;
  height: 20px;
  -webkit-transform-origin: 5px 5px;
          transform-origin: 5px 5px;
  -webkit-animation: rotateFoot 1s infinite;
          animation: rotateFoot 1s infinite;
}

